.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  padding-top: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.link {
  color: rgba(76, 76, 255, 1);
  cursor: pointer;
  text-decoration: none;
}
