.decor {
  width: 100%;
  background-color: #1c1c21;
}

.header {
  margin: 0 auto;
  align-items: center;
  display: flex;
  width: 1280px;
  height: 88px;
  justify-content: space-between;
  white-space: nowrap;
  position: relative;
}
.menu {
  display: flex;
  text-decoration: none;
  color: inherit;
}
.logo {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.icons {
  display: flex;
}
