.header {
  align-items: center;
  background-color: #1c1c21;
  display: flex;
  max-width: 100%;
  height: 88px;
  justify-content: center;
}
.menu {
  display: flex;
  text-decoration: none;
  color: inherit;
}
.logo {
  margin-left: 112px;
  margin-right: 288px;
}
